[buildout]
extends = plone3.cfg
versions = versions
unzip = true
eggs += profilehooks
develop = .

[versions]
zope2-url = http://www.zope.org/Products/Zope/2.10.8/Zope-2.10.8-final.tgz

[instance]
eggs += plone.folder
zcml += plone.folder
products =
